### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

*.jpg.part0
*.jpg.part1
*.jpg.part2
*.jpg.part3
*.jpg.part4
*.jpg.part5
*.jpg.part6
*.jpg.part7
*.jpg.part8
*.jpg.part9
