### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
#
#*.jpg.part.0
#*.jpg.part.1
#*.jpg.part.2
#*.jpg.part.3
#*.jpg.part.4
#*.jpg.part.5
#*.jpg.part.6
#*.jpg.part.7
#*.jpg.part.8
#*.jpg.part.9
